body {
  padding: 0;
  margin: 0;
}
.alerts-wrapper {
  display: flex;
  flex-direction: column;
  grid-gap: 1em;
}
.map-container {
  overflow: hidden !important;
  height: 90vh !important;
  width: 100%;
  flex: 0.7;
}
header {
  font-family: montserrat, sans-serif;
  background-color: #f97316;
  font-weight: 600;
  font-size: 2.5em;
  color: white;
  padding: 0.25em 0.5em;
  max-width: 100%;
  padding-right: none;
}
@media screen and (max-width: 600px) {
  header {
    font-size: 2em;
  }
}
.home-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.mapboxgl-marker {
  z-index: 0 !important;
}
.marker-icon {
  height: 5em;
  width: 5em;
  aspect-ratio: 1/1;
  background-size: 100%;
  background-image: url("../public/assets/train-icon.png") !important;
}
.stopPopup,
.trainPopup {
  background-color: #004d93;
  padding: 0em 1em;
  position: absolute;
  z-index: 1 !important;
  border-radius: 1em !important;
}
.stopPopup h1 {
  font-size: 1.75em !important;
  font-weight: 300;
  line-height: 1em;
  color: white;
  width: 10em;
}
.mapboxgl-popup-close-button {
  aspect-ratio: 1/1 !important;
  background-color: #f97316 !important;
  font-size: 2.2em !important;
  position: absolute;
  z-index: 999;
  border-radius: 10000% !important;
  color: white !important;
  fill: #f97316 !important;
}
.timetable-wrapper {
  max-height: 90vh;
  font-family: montserrat, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  flex: 0.3;
  background-color: black;
  padding-bottom: 1em;
  overflow-y: scroll;
  gap: 1em;
}
.status-light {
  width: 1em;
  height: 1em;
  border-radius: 100%;
  background-color: red;
}
.timetable-wrapper h1 {
  margin-bottom: 0;
}
.timetable-wrapper h2 {
  font-size: 2em;
  font-weight: 500;
}
@media screen and (max-width: 800px) {
  .home-wrapper {
    display: block;
  }
  .map-container {
    margin: 0;
  }
  .timetable-wrapper {
    margin: 0;
    overflow-y: show !important;
  }
}
.timetable-item {
  flex-wrap: wrap;
  font-family: monospace;
  align-items: center;
  justify-content: center;
  grid-gap: 0em 1em;
  letter-spacing: 0.1em;
  display: flex;
  flex-direction: row;
  padding: 0 0.75em;
  border-radius: 1em;
  max-width: 90%;
  background-color: rgba(255, 255, 255, 0.1);
}
.trainPopup {
  font-size: 1em;
  width: 7em;
}
.trainPopup h3 {
  color: white !important;
}
.timetable-item h5 {
  font-size: 1.25em;
  font-weight: 100;
}
.green {
  background-color: green;
}
